
.fl-image-editor-border {
	border: 2px solid red;
}

/*
 * Misc
 */

/* hidden */
.fl-image-editor-hidden {
    display: none;
}

/* dimmed */
.fl-image-editor-dim {
    opacity: 0.4;
    filter:alpha(opacity=40);
}


.fl-image-editor-buttons {
    margin-top: 1em;
}

/* General Menu */
.fl-image-editor-menu {
	opacity: 0.7;
	color: #ffffff;
	margin-left: 10px;
}

/* General Buttons */
.fl-image-editor-buttons button {
    border-width: 1px;
    border-style: solid;
    font-weight: bolder;
    font-size: 1.06em;
    color: #FFF;
    height: 32px;
    outline: none;
    cursor: pointer;
    width: 8.4em;
    background-color: #696969;
    border-color: #006838;
}

.fl-image-editor-buttons button:focus {
    outline: 2px solid #142B8C;
}

.fl-image-editor-buttons .fl-image-editor-button-resize {
}

.fl-image-editor-buttons .fl-image-editor-button-resize:hover {
    background-color: #519325;
    border-color: #142B8C;
}

.fl-image-editor-buttons .fl-image-editor-button-crop {
}

.fl-image-editor-buttons .fl-image-editor-button-crop:hover {
    background-color: #519325;
    border-color: #142B8C;
}

/* disabled button */
.fl-image-editor-buttons .fl-image-editor-dim, .fl-image-editor-buttons .fl-image-editor-dim:hover {
    background-color: #999;
    border-color: #666666;
    cursor: auto;
}

.flc-image-canvas {
    margin-top: 1em;
    text-align: center;	
	margin: 1em auto;
	box-shadow: 5px 5px 30px #000000;
}

.flc-image-canvas-div {
	width: 750px;
	height: 750px;
	line-height: 750px;
	vertical-align : middle;
	text-align: center;
	margin: 1em auto;
}

.fl-image-editor-options {
    background-color: #696969;
    width: 500px;
}

.fl-image-editor-crop-options {
	text-indent: 5px;
}

.fl-image-editor-resize-options {
	text-indent: 5px;
}

.fl-image-editor-tag-options {
	text-indent: 5px;
}

.fl-image-editor-button-crop-confirm {
    background-image: url(../images/tick.png);
    cursor: pointer; 
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding: 0;
    margin: 0;
}

.fl-image-editor-button-crop-confirm:hover, tr:focus {
    border: 1px solid #CCC;
    background-color: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
}

.fl-image-editor-button-resize-confirm {
    background-image: url(../images/tick.png);
    cursor: pointer; 
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding: 0;
    margin: 0;
}

.fl-image-editor-button-resize-confirm:hover, tr:focus {
    border: 1px solid #CCC;
    background-color: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
}

.fl-image-editor-button-tag-confirm {
    background-image: url(../images/tick.png);
    cursor: pointer; 
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding: 0;
    margin: 0;
}

.fl-image-editor-button-tag-confirm:hover, tr:focus {
    border: 1px solid #CCC;
    background-color: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
}

/*
 * Tag List Item
 */
.flc-image-editor-tag:hover {
	color: yellow;	
}

.flc-image-editor-tag {
}

/*
 * Tag remove button in list
 */
.flc-image-editor-tag-remove {
    float: right;
}

.flc-image-editor-tag-remove:hover, tr:focus {
	cursor: pointer;
}